each item in news
	a(href="/news/"+item._id).thumbnail.news-item
		if (item.content != undefined && item.content.length != 0)
			.square
				img.img-rounded.img-thumbnail(src="/files/"+item.content[0].type+"/"+item.content[0].id+"/thumbnail")
		.caption
			h3 #{item.title}
			p #{item.text}
			h4(align="center")
				small #{item.timestampStr}
			h4(align="center")
				small
					if (item.badge.images != 0)
						span.badge
							span.glyphicon.glyphicon-picture(aria-hidden=true)
							|  #{item.badge.images}
					if (item.badge.videos != 0)
						span.badge
							span.glyphicon.glyphicon-facetime-video(aria-hidden=true)
							|  #{item.badge.videos}
					if (item.badge.comments > 0)
						span.badge
							span.glyphicon.glyphicon-comment(aria-hidden=true)
							|  #{itnews.badge.comments}