extends ../../template/admin

block content
	.row
		.col-sm-4
			h3 Stockage brut 
				span.label.label-info #{stats[0].size}
			hr
		.col-sm-4
			h3 Fichiers 
				span.label.label-info #{stats[0].count}
			hr
		.col-sm-4
			h3 Dossiers 
				span.label.label-info #{stats[1].count}
			hr
	.row
		.col-sm-4
			h3 Images 
				span.label.label-info #{stats[2].count}
			hr
		.col-sm-4
			h3 Vidéos 
				span.label.label-info #{stats[3].count}
			hr